.movieCard {
    border: 1px solid #e5e7eb;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .movieCardTitle {
    font-weight: 600;
  }
  
  .buttonsContainer {
    display: flex;
    gap: 0.5rem;
  }
  